Repository projet-m2-siris-unistra/chatalk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, deploy-ui, test-blog, deploy-blog

.gitlab-ci.yml:

image: node:lts-alpine

stages:
  - test
  - build
  - deploy

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
  - blog/node_modules/

# UI part
test-ui:
  stage: test
  tags:
    - docker
    - socket
  script:
    - cd ui/
    - npm ci
    - npm run test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "ui/**/*"

deploy-ui:
  stage: deploy
  tags:
    - docker
    - socket
  script:
    - cd ui/
    - npm ci
    - npm run build
    - cd build/
    - cp index.html 200.html
    - cp index.html 404.html
    - echo "$DOMAIN_UI" > CNAME
    - npx surge .
  only:
    refs:
      - master
    changes:
      - ".gitlab-ci.yml"
      - "ui/**/*"

# Blog part
test-blog:
  stage: test
  image: ludovicm67/node-libglu1
  tags:
    - docker
    - socket
  script:
    - cd blog/
    - npm install
    - npm run format-check
  only:
    changes:
      - ".gitlab-ci.yml"
      - "blog/**/*"

deploy-blog:
  stage: deploy
  image: ludovicm67/node-libglu1
  tags:
    - docker
    - socket
  script:
    - cd blog/
    - npm ci
    - npm run build
    - cd public/
    - cp index.html 200.html
    - echo "$DOMAIN_BLOG" > CNAME
    - npx surge .
  only:
    refs:
      - master
    changes:
      - ".gitlab-ci.yml"
      - "blog/**/*"

.build-service-image: &build-service-image
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  tags:
    - docker
    - socket
  script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - |
      if [ "$CI_COMMIT_REF_SLUG" == master ]; then
        ARGS="--destination $CI_REGISTRY/$IMAGE"
      fi
      /kaniko/executor $ARGS \
        --destination $CI_REGISTRY/$IMAGE:$CI_COMMIT_REF_SLUG \
        --context $CI_PROJECT_DIR/services/$IMAGE \
        --dockerfile $CI_PROJECT_DIR/services/$IMAGE/Dockerfile \
        --build-arg "BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" \
        --build-arg "COMMIT=$CI_COMMIT_SHA" \
        --build-arg "VERSION=$CI_COMMIT_REF_SLUG"

build-service-entrypoint:
  <<: *build-service-image
  variables:
    IMAGE: entrypoint

build-service-db-migrations:
  <<: *build-service-image
  variables:
    IMAGE: db-migrations

build-service-fake-ui:
  <<: *build-service-image
  variables:
    IMAGE: fake-ui

build-service-register:
  <<: *build-service-image
  variables:
    IMAGE: register

build-service-ping:
  <<: *build-service-image
  variables:
    IMAGE: ping

k8s: setup www and root subdomains
  k8s/chatalk/ui/ingress.yaml
Due: none

k8s: deploy nats + stan operator + various small updates
  k8s/README.md
  k8s/nats-streaming-operator/README.md
  k8s/nats-streaming-operator/base/00-prereqs.yaml
  k8s/nats-streaming-operator/base/10-deployment.yaml
  k8s/nats-streaming-operator/base/default-rbac.yaml
  k8s/nats-streaming-operator/base/deployment.yaml
  k8s/nats-streaming-operator/base/kustomization.yaml
  k8s/nats-streaming-operator/overlays/unistra/kustomization.yaml
  k8s/nats-streaming-operator/overlays/unistra/nats.yaml
  k8s/nats-streaming-operator/overlays/unistra/stan.yaml
  k8s/nginx-ingress-controller/overlays/default/deployment.yaml
Due: none

ui: begin to branch
  ui/src/component/Login.tsx
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, deploy-ui

ui: fix CI
  ui/src/component/Login.tsx
  ui/src/component/SignUp.tsx
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, deploy-ui

ui: add some commented auth logic
  ui/src/App.tsx
Due: test-ui, deploy-ui

adding back button to Credits,privacy and terms
  ui/src/component/Credits.tsx
  ui/src/component/Privacy.tsx
  ui/src/component/Terms.tsx
Due: test-ui, deploy-ui

ui: format code
  ui/.eslintrc.json
  ui/package-lock.json
  ui/package.json
  ui/src/App.tsx
  ui/src/component/Conversation.tsx
  ui/src/component/ConversationsList.tsx
  ui/src/component/Credits.tsx
  ui/src/component/Login.tsx
  ui/src/component/Privacy.tsx
  ui/src/component/SignUp.tsx
  ui/src/component/Terms.tsx
  ui/src/component/WebsocketProvider.tsx
  ui/src/store/actions.ts
  ui/src/store/index.ts
  ui/src/store/reducers.ts
  ui/src/store/state.ts
Due: test-ui, deploy-ui

ui: conditionnal router
  ui/src/App.tsx
  ui/src/router/PrivateRoute.tsx
  ui/src/router/PublicRoute.tsx
  ui/src/router/index.tsx
Due: test-ui, deploy-ui

ui-services: add state for sign up and log TODO fix NullString in login
  services/login/login.go
  services/register/register.go
  services/send-info/send-info.go
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, deploy-ui

svc: fix NullString ?
  services/login/login.go
  services/register/register.go
Due: none

svc/login: send more informations, set a response type
  services/login/login.go
Due: none

encryption example on file with constant key
  securite/encryption.go
Due: none

svc/login: better handling of NullString
  services/login/.dockerignore
  services/login/.gitignore
  services/login/go.mod
  services/login/go.sum
  services/login/login.go
Due: none

svc/send-info: better handling for NullString
  services/send-info/.dockerignore
  services/send-info/.gitignore
  services/send-info/go.mod
  services/send-info/go.sum
  services/send-info/send-info.go
Due: none

ui: better handling for ws
  k8s/chatalk/ui/deployment.yaml
  services/docker-compose.yaml
  ui/Dockerfile
  ui/src/App.tsx
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, deploy-ui

k8s: use nats-streaming-operator in production
  k8s/chatalk/bus/deployment.yaml
  k8s/chatalk/bus/kustomization.yaml
  k8s/chatalk/bus/service.yaml
  k8s/chatalk/conv_creation/deployment.yaml
  k8s/chatalk/conv_manag/deployment.yaml
  k8s/chatalk/entrypoint/deployment.yaml
  k8s/chatalk/login/deployment.yaml
  k8s/chatalk/msg_sender/deployment.yaml
  k8s/chatalk/ping/deployment.yaml
  k8s/chatalk/register/deployment.yaml
  k8s/chatalk/send-info/deployment.yaml
Due: none

ui: format + ignore connection retry for websocket
  ui/src/App.tsx
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, deploy-ui

svc/entrypoint: handle unhadled errors
  services/entrypoint/entrypoint.go
Due: none

ui+svc+k8s: rewrite WebsocketProvider + open local port + remove old entry
  k8s/chatalk/kustomization.yaml
  services/docker-compose.yaml
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, deploy-ui

ci: try to pass images digest to deploy stage
  .gitlab-ci.yml
Due: test-ui, deploy-ui, test-blog, deploy-blog

ui/wsProvider: mini-refactoring + setup regular ping
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, deploy-ui

ui: show an alert when ws is closed
  ui/.eslintrc.json
  ui/src/App.tsx
  ui/src/component/Alert.tsx
  ui/src/component/WebsocketProvider.tsx
  ui/src/store/actions.ts
  ui/src/store/index.ts
  ui/src/store/reducers.ts
  ui/src/store/state.ts
Due: test-ui, deploy-ui

ansible: deploy Minio (S3 compatible storage)
  ansible/host_vars/dumas/dumas.yaml
  ansible/roles/dumas/files/minio.service
  ansible/roles/dumas/handlers/main.yaml
  ansible/roles/dumas/tasks/main.yaml
Due: none

k8s: deploy postgres-operator
  infra/k8s/README.md
  infra/k8s/postgres-operator/README.md
  infra/k8s/postgres-operator/base/configmap.yaml
  infra/k8s/postgres-operator/base/kustomization.yaml
  infra/k8s/postgres-operator/base/operator-service-account-rbac.yaml
  infra/k8s/postgres-operator/base/postgres-operator.yaml
  infra/k8s/postgres-operator/overlays/unistra/kustomization.yaml
Due: none

k8s: deploy and configure a postgres cluster + config services to use it
  infra/ansible/README.md
  infra/ansible/roles/common/tasks/main.yaml
  infra/k8s/chatalk/conv_creation/deployment.yaml
  infra/k8s/chatalk/conv_manag/deployment.yaml
  infra/k8s/chatalk/db-migrations/job.yaml
  infra/k8s/chatalk/db/deployment.yaml
  infra/k8s/chatalk/db/kustomization.yaml
  infra/k8s/chatalk/db/service.yaml
  infra/k8s/chatalk/kustomization.yaml
  infra/k8s/chatalk/login/deployment.yaml
  infra/k8s/chatalk/msg_sender/deployment.yaml
  infra/k8s/chatalk/register/deployment.yaml
  infra/k8s/chatalk/send-info/deployment.yaml
  infra/k8s/postgres-operator/overlays/unistra/kustomization.yaml
  infra/k8s/postgres-operator/overlays/unistra/postgres-operator.yaml
  infra/k8s/postgres-operator/overlays/unistra/postgres.yaml
Due: none

ui: login error handling
  ui/src/component/Alert.tsx
  ui/src/component/WebsocketProvider.tsx
  ui/src/store/index.ts
Due: test-ui, deploy-ui

ui: fix reponsive for login/register pages + display welcome message on login success
  ui/src/component/Alert.tsx
  ui/src/component/Login.tsx
  ui/src/component/SignUp.tsx
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, deploy-ui

svc: return action for login and register
  services/login/login.go
  services/register/register.go
Due: none

ui+svc: register error handling
  services/register/register.go
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, deploy-ui

ui: a nice start for create conv
  ui/src/component/conversations/Conversation.tsx
  ui/src/component/conversations/New.tsx
  ui/src/component/conversations/index.tsx
  ui/src/router/index.tsx
Due: test-ui, deploy-ui

svc: add some action field on responses
  services/conv_creation/conv_creation.go
  services/conv_manag/conv_manag.go
  services/msg_sender/msg_sender.go
  services/send-info/send-info.go
Due: none

ui: create conversation + redirecttion
  ui/src/App.tsx
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/Conversation.tsx
  ui/src/component/conversations/New.tsx
  ui/src/component/conversations/index.tsx
  ui/src/router/index.tsx
  ui/src/store/actions.ts
  ui/src/store/index.ts
  ui/src/store/reducers.ts
  ui/src/store/state.ts
Due: test-ui, deploy-ui

Added migrations for views
  services/db-migrations/000007_view_archived_messages.down.sql
  services/db-migrations/000007_view_archived_messages.up.sql
  services/db-migrations/000008_view_active_messages.down.sql
  services/db-migrations/000008_view_active_messages.up.sql
  services/db-migrations/000009_view_active_keys.down.sql
  services/db-migrations/000009_view_active_keys.up.sql
  services/db-migrations/000010_view_recent_messages.down.sql
  services/db-migrations/000010_view_recent_messages.up.sql
  services/db-migrations/000011_view_participates.down.sql
  services/db-migrations/000011_view_participates.up.sql
Due: none

infra: second cluster
  infra/ansible/README.md
  infra/ansible/credentials-cluster1/kubeadm_certificate_key.creds
  infra/ansible/credentials-cluster2/kubeadm_certificate_key.creds
  infra/ansible/group_vars/k8s-cluster/k8s-cluster.yml
  infra/ansible/group_vars/k8s-cluster/k8s-net-canal.yml
  infra/ansible/group_vars/k8s-cluster/k8s-net-cilium.yml
  infra/ansible/group_vars/k8s-cluster/k8s-net-contiv.yml
  infra/ansible/group_vars/k8s-cluster/k8s-net-flannel.yml
  infra/ansible/group_vars/k8s-cluster/k8s-net-kube-router.yml
  infra/ansible/group_vars/k8s-cluster/k8s-net-macvlan.yml
  infra/ansible/group_vars/k8s-cluster/k8s-net-weave.yml
  infra/ansible/hosts-cluster1.ini
  infra/ansible/hosts-cluster2.ini
  infra/ansible/roles/common/tasks/main.yaml
  infra/ansible/site.yaml
  infra/doc/dns.py
Due: none

db: fix migrations
  services/db-migrations/000007_view_archived_messages.up.sql
  services/db-migrations/000008_view_active_messages.up.sql
  services/db-migrations/000009_view_active_keys.up.sql
  services/db-migrations/000010_view_recent_messages.up.sql
  services/db-migrations/000011_view_participates.up.sql
Due: none

Homepage update
  ui/src/component/Homepage.tsx
Due: test-ui, deploy-ui

UI: preparation for adding user for conversation creation
  ui/package-lock.json
  ui/package.json
  ui/src/component/WebsocketProvider.tsx
  ui/src/store/actions.ts
  ui/src/store/state.ts
Due: test-ui, deploy-ui

adding a prototype button to send message in conversartion
  ui/src/component/conversations/Conversation.tsx
Due: test-ui, deploy-ui

ansible: configure minio
  infra/ansible/roles/dumas/files/minio.service
Due: none
