Repository projet-m2-siris-unistra/chatalk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, deploy-ui, test-blog, deploy-blog

.gitlab-ci.yml:

image: node:latest

stages:
  - test
  - build
  - deploy

# UI part
test-ui:
  stage: test
  script:
    - cd ui/
    - npm ci
    - npm run test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "ui/**/*"

deploy-ui:
  stage: deploy
  script:
    - cd ui/
    - npm ci
    - npm run build
    - cd build/
    - cp index.html 200.html
    - cp index.html 404.html
    - echo "$DOMAIN_UI" > CNAME
    - npx surge .
  only:
    refs:
      - master
    changes:
      - ".gitlab-ci.yml"
      - "ui/**/*"

# Blog part
test-blog:
  stage: test
  script:
    - cd blog/
    - npm ci
    - npm run format-check
  only:
    changes:
      - ".gitlab-ci.yml"
      - "blog/**/*"

deploy-blog:
  stage: deploy
  script:
    - cd blog/
    - npm ci
    - npm run build
    - cd public/
    - cp index.html 200.html
    - echo "$DOMAIN_BLOG" > CNAME
    - npx surge .
  only:
    refs:
      - master
    changes:
      - ".gitlab-ci.yml"
      - "blog/**/*"

blog: format unformatted posts
  blog/content/blog/security/index.md
Due: test-blog, deploy-blog

blog: precise licences for the infrastructure
  blog/content/blog/infra-first-look/index.md
Due: test-blog, deploy-blog

blog: precise licenses and informations about controls for the graphic charter
  blog/content/blog/graphic-charter/index.md
Due: test-blog, deploy-blog

ui: add Credit page
  ui/src/App.tsx
  ui/src/component/Credits.tsx
  ui/src/component/Homepage.tsx
Due: test-ui, deploy-ui

ansible: update cluster base configuration
  ansible/.gitignore
  ansible/group_vars/k8s-cluster/addons.yml
  ansible/group_vars/k8s-cluster/k8s-cluster.yml
  ansible/roles/common/files/zsh/zshrc
  ui/src/component/Credits.tsx
Due: test-ui, deploy-ui

Securité: add arguments for security choices
  blog/content/blog/security/index.md
  securite/SECU.md
  securite/biblio.txt
Due: test-blog, deploy-blog

Security: end of draft before final choice
  securite/SECU.md
Due: none

ansible: do not use docker anymore + some various updates
  ansible/README.md
  ansible/group_vars/all/all.yml
  ansible/group_vars/k8s-cluster/k8s-cluster.yml
  ansible/hosts.ini
Due: none

ansible: disable default ingress controller and dashboard
  ansible/group_vars/k8s-cluster/addons.yml
Due: none

k8s: add nginx-ingress-controller
  k8s/nginx-ingress-controller/README.md
  k8s/nginx-ingress-controller/base/cloud-generic.yaml
  k8s/nginx-ingress-controller/base/kustomization.yaml
  k8s/nginx-ingress-controller/base/mandatory.yaml
  k8s/nginx-ingress-controller/overlays/default/config.yaml
  k8s/nginx-ingress-controller/overlays/default/deployment.yaml
  k8s/nginx-ingress-controller/overlays/default/kustomization.yaml
  k8s/nginx-ingress-controller/overlays/default/namespace.yaml
Due: none

k8s: add metallb
  README.md
  k8s/metallb/base/kustomization.yaml
  k8s/metallb/base/metallb.yaml
  k8s/metallb/overlays/unistra/config-map.yaml
  k8s/metallb/overlays/unistra/kustomization.yaml
Due: none

Started working on database schematics
  database/schemas.md
Due: none

Added the seen table and some views
  database/schemas.md
Due: none

Some corrections and descriptions
  database/schemas.md
Due: none

modification of specification (sorry for being late)
  blog/content/blog/security/index.md
  securite/SECU.md
Due: test-blog, deploy-blog

Protocols : protocols choice explanations
  protocoles/Choice.md
  protocoles/brainstorm.txt
  protocoles/messages.proto
Due: none

mock-up: add mock-ups made with Affinity Designer
  README.md
  mock-up/Chatalk.afdesign
  mock-up/README.md
  mock-up/desktop/conversations@0.4x.png
  mock-up/desktop/login@0.4x.png
  mock-up/desktop/password_lost@0.4x.png
  mock-up/desktop/register@0.4x.png
  mock-up/desktop/settings@0.4x.png
  mock-up/desktop/text@0.4x.png
  mock-up/mobile/conversation@0.4x.png
  mock-up/mobile/conversations@0.4x.png
  mock-up/mobile/login@0.4x.png
  mock-up/mobile/password_lost@0.4x.png
  mock-up/mobile/register@0.4x.png
  mock-up/mobile/settings@0.4x.png
  mock-up/mobile/text@0.4x.png
Due: none

blog: format security post
  blog/content/blog/security/index.md
Due: test-blog, deploy-blog

blog: add a post for the mock-ups
  blog/content/blog/mock-ups/desktop_conversations.png
  blog/content/blog/mock-ups/desktop_login.png
  blog/content/blog/mock-ups/desktop_password_lost.png
  blog/content/blog/mock-ups/desktop_register.png
  blog/content/blog/mock-ups/desktop_settings.png
  blog/content/blog/mock-ups/desktop_text.png
  blog/content/blog/mock-ups/index.md
  blog/content/blog/mock-ups/mobile_conversation.png
  blog/content/blog/mock-ups/mobile_conversations.png
  blog/content/blog/mock-ups/mobile_login.png
  blog/content/blog/mock-ups/mobile_password_lost.png
  blog/content/blog/mock-ups/mobile_register.png
  blog/content/blog/mock-ups/mobile_settings.png
  blog/content/blog/mock-ups/mobile_text.png
Due: test-blog, deploy-blog

blog: add some details in the mock-ups post
  blog/content/blog/mock-ups/index.md
Due: test-blog, deploy-blog

ansible: update playbook to run Kubespray conditionally and setup base for dumas VM
  ansible/README.md
  ansible/hosts.ini
  ansible/roles/common/tasks/main.yaml
  ansible/roles/dumas/tasks/main.yaml
  ansible/site.yaml
Due: none

security: end of study with advise
  blog/content/blog/security/index.md
  securite/SECU.md
Due: test-blog, deploy-blog

security: libsignal examples
  securite/SECU.md
Due: none

Blog: add some details about the pages in the mock-ups
  blog/content/blog/mock-ups/AddFriend.png
  blog/content/blog/mock-ups/call.png
  blog/content/blog/mock-ups/index.md
  blog/content/blog/mock-ups/setting.png
  blog/content/blog/mock-ups/videocam.png
Due: test-blog, deploy-blog

Blog: add some details about the pages in the mock-ups
  blog/content/blog/mock-ups/index.md
Due: test-blog, deploy-blog

blog: format "mock-ups" post
  blog/content/blog/mock-ups/index.md
Due: test-blog, deploy-blog

security: authentication
  securite/SECU.md
Due: none

security: resume
  securite/Plan.md
  securite/SECU.md
Due: none

ansible: install and configure some GitLab runners in dumas vm
  ansible/host_vars/dumas/dumas.yaml
  ansible/roles/dumas/tasks/main.yaml
Due: none

ci: use cache to improve builds performances
  .gitlab-ci.yml
Due: test-ui, deploy-ui, test-blog, deploy-blog

ci: specify tags to use our runners
  .gitlab-ci.yml
Due: test-ui, deploy-ui, test-blog, deploy-blog

security: Update Plan.md
  securite/Plan.md
Due: none

Update Plan.md
  securite/Plan.md
Due: none

ansible: install gitlab-runner from their repos
  ansible/roles/dumas/tasks/main.yaml
Due: none

ci: improve performances
  .gitlab-ci.yml
Due: test-ui, deploy-ui, test-blog, deploy-blog

ci: use specific image to deploy blog
  .gitlab-ci.yml
Due: test-ui, deploy-ui, test-blog, deploy-blog

security: scenarii (not finished)
  database/schemas.md
  securite/Plan.md
  securite/Scenarii.md
Due: none

mock-up: update to show errors, help, favorites
  mock-up/Chatalk.afdesign
  mock-up/desktop/conversations@0.4x.png
  mock-up/desktop/login@0.4x.png
  mock-up/desktop/password_lost@0.4x.png
  mock-up/desktop/register@0.4x.png
  mock-up/desktop/settings@0.4x.png
  mock-up/desktop/text@0.4x.png
  mock-up/mobile/conversation@0.4x.png
  mock-up/mobile/conversation_favorited@0.4x.png
  mock-up/mobile/conversations@0.4x.png
  mock-up/mobile/conversations_fav@0.4x.png
  mock-up/mobile/login@0.4x.png
  mock-up/mobile/login_errored@0.4x.png
  mock-up/mobile/password_lost@0.4x.png
  mock-up/mobile/register@0.4x.png
  mock-up/mobile/register_errored@0.4x.png
  mock-up/mobile/search@0.4x.png
  mock-up/mobile/settings@0.4x.png
  mock-up/mobile/text@0.4x.png
Due: none

blog: create base for "mock-ups-update" post
  blog/content/blog/mock-ups-update/desktop_text.png
  blog/content/blog/mock-ups-update/index.md
  blog/content/blog/mock-ups-update/mobile_conversation.png
  blog/content/blog/mock-ups-update/mobile_conversation_favorited.png
  blog/content/blog/mock-ups-update/mobile_conversations.png
  blog/content/blog/mock-ups-update/mobile_conversations_fav.png
  blog/content/blog/mock-ups-update/mobile_login_errored.png
  blog/content/blog/mock-ups-update/mobile_register.png
  blog/content/blog/mock-ups-update/mobile_register_errored.png
  blog/content/blog/mock-ups-update/mobile_search.png
Due: test-blog, deploy-blog

infra: setup https certificate on dumas
  ansible/README.md
  ansible/ansible.cfg
  ansible/roles/dumas/tasks/main.yaml
Due: none
