Repository projet-m2-siris-unistra/chatalk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, deploy-ui, test-blog, deploy-blog

.gitlab-ci.yml:

image: node:latest

stages:
  - test
  - build
  - deploy

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
  - blog/node_modules/
  - ui/node_modules/

# UI part
test-ui:
  stage: test
  tags:
    - docker
    - socket
  script:
    - cd ui/
    - npm ci
    - npm run test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "ui/**/*"

deploy-ui:
  stage: deploy
  tags:
    - docker
    - socket
  script:
    - cd ui/
    - npm ci
    - npm run build
    - cd build/
    - cp index.html 200.html
    - cp index.html 404.html
    - echo "$DOMAIN_UI" > CNAME
    - npx surge .
  only:
    refs:
      - master
    changes:
      - ".gitlab-ci.yml"
      - "ui/**/*"

# Blog part
test-blog:
  stage: test
  tags:
    - docker
    - socket
  script:
    - cd blog/
    - npm ci
    - npm run format-check
  only:
    changes:
      - ".gitlab-ci.yml"
      - "blog/**/*"

deploy-blog:
  stage: deploy
  tags:
    - docker
    - socket
  script:
    - cd blog/
    - npm ci
    - npm run build
    - cd public/
    - cp index.html 200.html
    - echo "$DOMAIN_BLOG" > CNAME
    - npx surge .
  only:
    refs:
      - master
    changes:
      - ".gitlab-ci.yml"
      - "blog/**/*"

Added msg_sending container
  services/docker-compose.yaml
Due: none

services + fakeui: conv_manag
  protocoles/messages.proto
  services/conv_manag/.dockerignore
  services/conv_manag/.gitignore
  services/conv_manag/Dockerfile
  services/conv_manag/conv_manag.go
  services/conv_manag/go.mod
  services/conv_manag/go.sum
  services/fake-ui/index.html
Due: none

k8s: create manifests for entrypoint and bus
  k8s/README.md
  k8s/chatalk/bus/deployment.yaml
  k8s/chatalk/bus/kustomization.yaml
  k8s/chatalk/bus/service.yaml
  k8s/chatalk/entrypoint/deployment.yaml
  k8s/chatalk/kustomization.yaml
Due: none

k8s: create manifests for db and db-migrations
  k8s/chatalk/db-migrations/job.yaml
  k8s/chatalk/db-migrations/kustomization.yaml
  k8s/chatalk/db/deployment.yaml
  k8s/chatalk/db/kustomization.yaml
  k8s/chatalk/db/service.yaml
  k8s/chatalk/kustomization.yaml
Due: none

Added an idea
  services/msg_sender/msg_sender.go
Due: none

Services : Conv_manag, conv_creation, fix; test Ui; add service in entrypoint
  services/conv_creation/conv_creation.go
  services/conv_creation/go.mod
  services/conv_creation/go.sum
  services/conv_manag/conv_manag.go
  services/conv_manag/go.mod
  services/conv_manag/go.sum
  services/docker-compose.yaml
  services/entrypoint/entrypoint.go
  services/fake-ui/index.html
Due: none

k8s: create manifests for fake-ui
  k8s/chatalk/fake-ui/deployment.yaml
  k8s/chatalk/fake-ui/ingress.yaml
  k8s/chatalk/fake-ui/kustomization.yaml
  k8s/chatalk/fake-ui/service.yaml
  k8s/chatalk/kustomization.yaml
Due: none

Services : Conv_manag -> ok
  services/conv_creation/conv_creation.go
  services/conv_manag/conv_manag.go
  services/fake-ui/index.html
Due: none

k8s: update deployed services
  k8s/chatalk/bus/deployment.yaml
  k8s/chatalk/bus/kustomization.yaml
  k8s/chatalk/db-migrations/kustomization.yaml
  k8s/chatalk/db/deployment.yaml
  k8s/chatalk/db/kustomization.yaml
  k8s/chatalk/entrypoint/deployment.yaml
  k8s/chatalk/entrypoint/ingress.yaml
  k8s/chatalk/entrypoint/kustomization.yaml
  k8s/chatalk/entrypoint/service.yaml
  k8s/chatalk/fake-ui/deployment.yaml
  k8s/chatalk/fake-ui/kustomization.yaml
  k8s/chatalk/kustomization.yaml
  k8s/nginx-ingress-controller/overlays/default/deployment.yaml
Due: none

add somes pages, uptaded login and SignUp front-end
  ui/package-lock.json
  ui/package.json
  ui/public/chatalk-square-512.png
  ui/src/App.tsx
  ui/src/component/Credits.tsx
  ui/src/component/Login.tsx
  ui/src/component/Privacy.tsx
  ui/src/component/SignUp.tsx
  ui/src/component/Terms.tsx
  ui/src/component/logo.png
Due: test-ui, deploy-ui

ui: upgrade packages
  ui/package-lock.json
  ui/package.json
Due: test-ui, deploy-ui

ui: add alt attribute on img tags
  ui/src/component/Login.tsx
  ui/src/component/SignUp.tsx
Due: test-ui, deploy-ui

ui: websocket provider
  ui/src/App.tsx
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, deploy-ui

ui: started to setup ws on signup page
  ui/src/component/SignUp.tsx
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, deploy-ui

svc/ping: created service
  services/docker-compose.yaml
  services/entrypoint/entrypoint.go
  services/ping/.dockerignore
  services/ping/.gitignore
  services/ping/Dockerfile
  services/ping/go.mod
  services/ping/go.sum
  services/ping/ping.go
Due: none

ci: build ping service + remove image tag with commit SHA
  .gitlab-ci.yml
Due: test-ui, deploy-ui, test-blog, deploy-blog

optimize ci + use ping service in k8s and UI
  .gitlab-ci.yml
  k8s/chatalk/kustomization.yaml
  k8s/chatalk/ping/deployment.yaml
  k8s/chatalk/ping/kustomization.yaml
  ui/src/component/SignUp.tsx
Due: test-ui, deploy-ui, test-blog, deploy-blog

k8s: deploy register service
  k8s/chatalk/kustomization.yaml
  k8s/chatalk/register/deployment.yaml
  k8s/chatalk/register/kustomization.yaml
Due: none

build and deploy login service on k8s
  .gitlab-ci.yml
  k8s/chatalk/kustomization.yaml
  k8s/chatalk/login/deployment.yaml
  k8s/chatalk/login/kustomization.yaml
Due: test-ui, deploy-ui, test-blog, deploy-blog

ci: build ui
  .gitlab-ci.yml
  services/README.md
  services/docker-compose.yaml
  ui/Dockerfile
  ui/init.sh
Due: test-ui, deploy-ui, test-blog, deploy-blog

k8s: deploy UI
  k8s/chatalk/kustomization.yaml
  k8s/chatalk/ui/deployment.yaml
  k8s/chatalk/ui/ingress.yaml
  k8s/chatalk/ui/kustomization.yaml
  k8s/chatalk/ui/service.yaml
Due: none

ui: import redux
  ui/package-lock.json
  ui/package.json
  ui/src/App.tsx
  ui/src/component/SignUp.tsx
  ui/src/component/WebsocketProvider.tsx
  ui/src/store/actions.ts
  ui/src/store/index.ts
  ui/src/store/reducers.ts
  ui/src/store/state.ts
Due: test-ui, deploy-ui

Services : send-info -> ok
  services/db-old/000004_create_conv_keys.up.sql.old
  services/docker-compose.yaml
  services/login/login.go
  services/register/register.go
  services/send-info/Dockerfile
  services/send-info/go.mod
  services/send-info/go.sum
  services/send-info/send-info.go
Due: none

Services : send-info -> clean ok
  services/send-info/send-info.go
Due: none

Added LaTeX presentation for meetings
  management/2019-11-21-client-demo.tex
Due: none

Added color theme
  management/2019-11-21-client-demo.tex
Due: none

UI : services regiter request/reply -> ok
  ui/src/component/SignUp.tsx
Due: test-ui, deploy-ui

services: add sub/unsub support + autosubscribe to user convs
  services/entrypoint/entrypoint.go
  services/msg_sender/msg_sender.go
  services/send-info/send-info.go
Due: none

svc/send-info: fix topic name
  services/send-info/send-info.go
Due: none

ci: build all services and speed up ui local build
  .gitlab-ci.yml
  ui/.dockerignore
Due: test-ui, deploy-ui, test-blog, deploy-blog

k8s: deploy conv_*, msg_sender and send-info services
  k8s/chatalk/conv_creation/deployment.yaml
  k8s/chatalk/conv_creation/kustomization.yaml
  k8s/chatalk/conv_manag/deployment.yaml
  k8s/chatalk/conv_manag/kustomization.yaml
  k8s/chatalk/kustomization.yaml
  k8s/chatalk/msg_sender/deployment.yaml
  k8s/chatalk/msg_sender/kustomization.yaml
  k8s/chatalk/send-info/deployment.yaml
  k8s/chatalk/send-info/kustomization.yaml
Due: none

services : msg_sender -> ok
  services/conv_creation/conv_creation.go
  services/conv_manag/conv_manag.go
  services/entrypoint/entrypoint.go
  services/fake-ui/index.html
  services/msg_sender/msg_sender.go
  services/send-info/send-info.go
Due: none

remove .idea directory
  .gitignore
  .idea/.gitignore
  .idea/misc.xml
  .idea/modules.xml
  .idea/projet-master-chatalk.d.iml
  .idea/vcs.xml
Due: none

k8s: enable HTTPS
  k8s/README.md
  k8s/chatalk/entrypoint/ingress.yaml
  k8s/chatalk/fake-ui/ingress.yaml
  k8s/chatalk/ui/ingress.yaml
Due: none

ui: use secure ws of the prod by default
  ui/src/App.tsx
Due: test-ui, deploy-ui

ci: stop deploying ui on surge
  .gitlab-ci.yml
Due: test-ui, deploy-ui, test-blog, deploy-blog
