Repository projet-m2-siris-unistra/chatalk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, build-ui, test-blog, deploy-blog, build-service-conv_creation, build-service-conv_manag, build-service-entrypoint, build-service-login, build-service-msg_sender, build-service-ping, build-service-register, build-service-send-info, deploy-service-entrypoint, build-db-migrations

Path conditions:
  test-ui: any of: .gitlab-ci.yml, ui/**/*
  build-ui: any of: .gitlab-ci.yml, ui/**/*
  test-blog: any of: .gitlab-ci.yml, blog/**/*
  deploy-blog: any of: .gitlab-ci.yml, blog/**/*
  build-service-conv_creation: any of: .gitlab-ci.yml, services/conv_creation/**/*
  build-service-conv_manag: any of: .gitlab-ci.yml, services/conv_manag/**/*
  build-service-entrypoint: any of: .gitlab-ci.yml, services/entrypoint/**/*
  build-service-login: any of: .gitlab-ci.yml, services/login/**/*
  build-service-msg_sender: any of: .gitlab-ci.yml, services/msg_sender/**/*
  build-service-ping: any of: .gitlab-ci.yml, services/ping/**/*
  build-service-register: any of: .gitlab-ci.yml, services/register/**/*
  build-service-send-info: any of: .gitlab-ci.yml, services/send-info/**/*
  deploy-service-entrypoint: any of: .gitlab-ci.yml, services/entrypoint/**/*
  build-db-migrations: any of: .gitlab-ci.yml, services/db-migrations/**/*

preparation for conv_settings
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/ConvSettings.tsx
  ui/src/store/actions.ts
  ui/src/store/reducers.ts
Due: test-ui, build-ui

ci: deploy app on clusters
  .gitlab-ci.yml
Due: test-ui, build-ui, test-blog, deploy-blog, build-service-conv_creation, build-service-conv_manag, build-service-entrypoint, build-service-login, build-service-msg_sender, build-service-ping, build-service-register, build-service-send-info, deploy-service-entrypoint, build-db-migrations

ci: apply manifests
  .gitlab-ci.yml
Due: test-ui, build-ui, test-blog, deploy-blog, build-service-conv_creation, build-service-conv_manag, build-service-entrypoint, build-service-login, build-service-msg_sender, build-service-ping, build-service-register, build-service-send-info, deploy-service-entrypoint, build-db-migrations

ci: also deploy on the second cluster
  .gitlab-ci.yml
  infra/k8s/chatalk/kustomization.yaml
Due: test-ui, build-ui, test-blog, deploy-blog, build-service-conv_creation, build-service-conv_manag, build-service-entrypoint, build-service-login, build-service-msg_sender, build-service-ping, build-service-register, build-service-send-info, deploy-service-entrypoint, build-db-migrations

Work in progress on security
  securite/MyEncryption.js
  services/shared-key-mngr/.dockerignore
  services/shared-key-mngr/.gitignore
  services/shared-key-mngr/go.mod
  services/shared-key-mngr/go.sum
  services/shared-key-mngr/shared-key-mngr.go
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, build-ui

UI/Service: Added skeleton work for shared key in UI and services
  services/send-info/send-info.go
  services/shared-key-mngr/shared-key-mngr.go
  ui/src/component/WebsocketProvider.tsx
  ui/src/store/actions.ts
  ui/src/store/reducers.ts
  ui/src/store/state.ts
Due: test-ui, build-ui, build-service-send-info

k8s: nats federation
  infra/k8s/README.md
  infra/k8s/nats-streaming-operator/README.md
  infra/k8s/nats-streaming-operator/overlays/cluster1/kustomization.yaml
  infra/k8s/nats-streaming-operator/overlays/cluster1/nats.yaml
  infra/k8s/nats-streaming-operator/overlays/cluster1/stan.yaml
  infra/k8s/nats-streaming-operator/overlays/cluster2/kustomization.yaml
  infra/k8s/nats-streaming-operator/overlays/cluster2/nats.yaml
  infra/k8s/nats-streaming-operator/overlays/cluster2/stan.yaml
  infra/k8s/nats-streaming-operator/overlays/unistra/nats.yaml
Due: none

ajout exemple generation secret
  securite/MyEncryption.js
Due: none

k8s: disable stan cluster on cluster1
  infra/k8s/nats-streaming-operator/overlays/cluster1/kustomization.yaml
Due: none

Added a file with only schemas
  database/schemas.sql
Due: none

Meeting 12/12/19
  management/2019-12-10-meeting.backup.pdf
  management/2019-12-10-meeting.odp
  management/2019-12-10-meeting.pdf
  management/Infrastructure.pdf
  management/gantt/ProjetChaTalK03.pdf
  management/gantt/ProjetChaTalK04.pdf
  management/gantt/ProjetChaTalK04.png
  management/gantt/ProjetChaTalK04.svg
  management/gantt/ProjetChaTalK04.xml
  management/notes-2019-11-27.md
Due: none

k8s: upgrade monitoring stack
  infra/k8s/README.md
  infra/k8s/monitoring/grafana-ingress.yaml
  infra/k8s/monitoring/kustomization.yaml
  infra/k8s/monitoring/monitoring.yaml
  infra/k8s/monitoring/prometheus-ingress.yaml
Due: none

ui: upgrade dependencies
  ui/package-lock.json
  ui/package.json
Due: test-ui, build-ui

ui: update homepage style
  ui/public/screen.png
  ui/src/App.tsx
  ui/src/component/Homepage.tsx
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/Conversation.tsx
  ui/src/component/conversations/New.tsx
  ui/src/component/conversations/Settings.tsx
  ui/src/component/conversations/index.tsx
  ui/src/router/index.tsx
  ui/src/store/actions.ts
  ui/src/store/reducers.ts
Due: test-ui, build-ui

ci: auto-deploy UI
  .gitlab-ci.yml
Due: test-ui, build-ui, test-blog, deploy-blog, build-service-conv_creation, build-service-conv_manag, build-service-entrypoint, build-service-login, build-service-msg_sender, build-service-ping, build-service-register, build-service-send-info, deploy-service-entrypoint, build-db-migrations

ci: only deploy for master branch
  .gitlab-ci.yml
Due: test-ui, build-ui, test-blog, deploy-blog, build-service-conv_creation, build-service-conv_manag, build-service-entrypoint, build-service-login, build-service-msg_sender, build-service-ping, build-service-register, build-service-send-info, deploy-service-entrypoint, build-db-migrations

ci: fix ui deployment
  .gitlab-ci.yml
Due: test-ui, build-ui, test-blog, deploy-blog, build-service-conv_creation, build-service-conv_manag, build-service-entrypoint, build-service-login, build-service-msg_sender, build-service-ping, build-service-register, build-service-send-info, deploy-service-entrypoint, build-db-migrations

ui: working Homepage
  ui/src/component/Homepage.tsx
  ui/src/router/index.tsx
Due: test-ui, build-ui

ui: reduce margin for action button on mobile
  ui/src/component/Homepage.tsx
Due: test-ui, build-ui

svc: start to create structures to support JWT
  services/entrypoint/entrypoint.go
  services/login/login.go
Due: build-service-entrypoint, build-service-login, deploy-service-entrypoint

expose the JWT token to the login service + generate token on login
  infra/k8s/chatalk/kustomization.yaml
  infra/k8s/chatalk/login/deployment.yaml
  services/docker-compose.yaml
  services/login/go.mod
  services/login/go.sum
  services/login/login.go
Due: build-service-login

UI/services: fix build, prep for conv manag
  services/conv_manag/conv_manag.go
  services/conv_manag/go.mod
  services/conv_manag/go.sum
  ui/src/store/actions.ts
  ui/src/store/reducers.ts
  ui/src/store/state.ts
Due: test-ui, build-ui, build-service-conv_manag

ui: add logic for JWT
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, build-ui

ui: add logic to handle logout messages
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, build-ui

refresh token, autologin using jwt token, …
  services/login/login.go
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, build-ui, build-service-login

ui: simpify Settings page, clean NotFound page and some various fixes
  ui/src/component/NotFound.tsx
  ui/src/component/Terms.tsx
  ui/src/component/conversations/Settings.tsx
Due: test-ui, build-ui

ui: move Settings page
  ui/src/component/Settings.tsx
  ui/src/router/index.tsx
Due: test-ui, build-ui

ui: add logout support
  ui/src/component/Logout.tsx
  ui/src/component/WebsocketProvider.tsx
  ui/src/router/index.tsx
Due: test-ui, build-ui

ui: remove remember me + add links for settings
  ui/src/component/Login.tsx
  ui/src/component/Settings.tsx
Due: test-ui, build-ui

ui: remove logout alert on login failure
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, build-ui

ui: fix input zone on a conversation
  ui/src/component/conversations/Conversation.tsx
Due: test-ui, build-ui

ui: fix style for conversation header
  ui/src/component/conversations/Conversation.tsx
Due: test-ui, build-ui

ui: nice scroll handling
  ui/src/component/conversations/Conversation.tsx
Due: test-ui, build-ui

svc: various fixes
  services/conv-sub/conv-sub.go
  services/conv_creation/conv_creation.go
  services/conv_manag/conv_manag.go
  services/entrypoint/entrypoint.go
  services/login/login.go
  services/msg_sender/msg_sender.go
  services/ping/ping.go
  services/register/register.go
  services/send-info/send-info.go
Due: build-service-conv_creation, build-service-conv_manag, build-service-entrypoint, build-service-login, build-service-msg_sender, build-service-ping, build-service-register, build-service-send-info, deploy-service-entrypoint

UI: action and handle message for user-manag
  ui/src/component/WebsocketProvider.tsx
  ui/src/store/actions.ts
  ui/src/store/reducers.ts
Due: test-ui, build-ui

Services: conv managmt Ok, still members removal TODO
  services/conv_manag/conv_manag.go
  services/send-info/send-info.go
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/index.tsx
Due: test-ui, build-ui, build-service-conv_manag, build-service-send-info

Services: user management ok, Todo: changes email is it still useful
  services/conv_manag/conv_manag.go
  services/docker-compose.yaml
  services/entrypoint/entrypoint.go
  services/user-manag/go.sum
  services/user-manag/user-manag.go
  ui/src/component/Settings.tsx
  ui/src/component/WebsocketProvider.tsx
  ui/src/store/reducers.ts
Due: test-ui, build-ui, build-service-conv_manag, build-service-entrypoint, deploy-service-entrypoint

Services/UI: add public and private key, pubkey send directly with user array in send-info
  services/register/register.go
  services/send-info/send-info.go
  services/user-manag/user-manag.go
  ui/src/component/SignUp.tsx
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/New.tsx
  ui/src/store/state.ts
Due: test-ui, build-ui, build-service-register, build-service-send-info

initial commit ; add scarlet dependencies
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/gradle.xml
  .idea/misc.xml
  .idea/runConfigurations.xml
  .idea/vcs.xml
  app/.gitignore
  app/build.gradle
  app/proguard-rules.pro
  app/src/androidTest/java/fr/chatalk/ExampleInstrumentedTest.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/fr/chatalk/MainActivity.kt
  app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  app/src/main/res/drawable/ic_launcher_background.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  app/src/test/java/fr/chatalk/ExampleUnitTest.kt
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
Due: none
