Repository projet-m2-siris-unistra/chatalk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, build-ui, deploy-ui, test-blog, deploy-blog, build-service-conv_creation, build-service-conv-sub, build-service-conv_manag, build-service-entrypoint, build-service-login, build-service-msg_sender, build-service-ping, build-service-register, build-service-send-info, deploy-service-conv_creation, deploy-service-conv-sub, deploy-service-conv_manag, deploy-service-entrypoint, deploy-service-login, deploy-service-msg_sender, deploy-service-ping, deploy-service-register, deploy-service-send-info, build-db-migrations, deploy-db-migrations

Path conditions:
  test-ui: any of: .gitlab-ci.yml, ui/**/*
  build-ui: any of: .gitlab-ci.yml, ui/**/*
  deploy-ui: any of: .gitlab-ci.yml, ui/**/*
  test-blog: any of: .gitlab-ci.yml, blog/**/*
  deploy-blog: any of: .gitlab-ci.yml, blog/**/*
  build-service-conv_creation: any of: .gitlab-ci.yml, services/Dockerfile, services/conv_creation/**/*
  build-service-conv-sub: any of: .gitlab-ci.yml, services/Dockerfile, services/conv-sub/**/*
  build-service-conv_manag: any of: .gitlab-ci.yml, services/Dockerfile, services/conv_manag/**/*
  build-service-entrypoint: any of: .gitlab-ci.yml, services/Dockerfile, services/entrypoint/**/*
  build-service-login: any of: .gitlab-ci.yml, services/Dockerfile, services/login/**/*
  build-service-msg_sender: any of: .gitlab-ci.yml, services/Dockerfile, services/msg_sender/**/*
  build-service-ping: any of: .gitlab-ci.yml, services/Dockerfile, services/ping/**/*
  build-service-register: any of: .gitlab-ci.yml, services/Dockerfile, services/register/**/*
  build-service-send-info: any of: .gitlab-ci.yml, services/Dockerfile, services/send-info/**/*
  deploy-service-conv_creation: any of: .gitlab-ci.yml, services/Dockerfile, services/conv_creation/**/*
  deploy-service-conv-sub: any of: .gitlab-ci.yml, services/Dockerfile, services/conv-sub/**/*
  deploy-service-conv_manag: any of: .gitlab-ci.yml, services/Dockerfile, services/conv_manag/**/*
  deploy-service-entrypoint: any of: .gitlab-ci.yml, services/Dockerfile, services/entrypoint/**/*
  deploy-service-login: any of: .gitlab-ci.yml, services/Dockerfile, services/login/**/*
  deploy-service-msg_sender: any of: .gitlab-ci.yml, services/Dockerfile, services/msg_sender/**/*
  deploy-service-ping: any of: .gitlab-ci.yml, services/Dockerfile, services/ping/**/*
  deploy-service-register: any of: .gitlab-ci.yml, services/Dockerfile, services/register/**/*
  deploy-service-send-info: any of: .gitlab-ci.yml, services/Dockerfile, services/send-info/**/*
  build-db-migrations: any of: .gitlab-ci.yml, services/db-migrations/**/*
  deploy-db-migrations: any of: .gitlab-ci.yml, services/db-migrations/**/*

UI: generate RSA key, issue on signUP
  ui/src/component/SignUp.tsx
  ui/src/component/conversations/New.tsx
Due: test-ui, build-ui, deploy-ui

k8s: use custom turn server
  audio-video/.directory
  audio-video/release/README.md
  audio-video/release/js/main.js
  audio-video/release/turn-server.sh
Due: none

webrtc: upgrade lib + set encoding
  audio-video/release/index.html
  audio-video/release/js/lib/adapter.js
Due: none

webrtc: try something different
  audio-video/webrtc-test/app.js
  audio-video/webrtc-test/index.html
  audio-video/webrtc-test/simplepeer.min.js
Due: none

webrtc: try update code for modern browsers
  audio-video/webrtc-test/app.js
  audio-video/webrtc-test/index.html
  audio-video/webrtc-test/simplepeer.min.js
Due: none

webrtc: fix exchanges issues
  audio-video/webrtc-test/app.js
Due: none

webrtc: fix decode
  audio-video/webrtc-test/app.js
Due: none

webrtc: check devices inputs
  audio-video/webrtc-test/app.js
Due: none

webrtc: remove tutorial ressource
  audio-video/webrtc-web/.gitignore
  audio-video/webrtc-web/CONTRIBUTING.md
  audio-video/webrtc-web/LICENSE
  audio-video/webrtc-web/README.md
  audio-video/webrtc-web/index.html
  audio-video/webrtc-web/js/lib/adapter.js
  audio-video/webrtc-web/step-01/css/main.css
  audio-video/webrtc-web/step-01/index.html
  audio-video/webrtc-web/step-01/js/main.js
  audio-video/webrtc-web/step-02/css/main.css
  audio-video/webrtc-web/step-02/index.html
  audio-video/webrtc-web/step-02/js/main.js
  audio-video/webrtc-web/step-03/css/main.css
  audio-video/webrtc-web/step-03/index.html
  audio-video/webrtc-web/step-03/js/main.js
  audio-video/webrtc-web/step-04/css/main.css
  audio-video/webrtc-web/step-04/index.html
  audio-video/webrtc-web/step-04/index.js
  audio-video/webrtc-web/step-04/js/main.js
  audio-video/webrtc-web/step-04/package.json
  audio-video/webrtc-web/step-05/css/main.css
  audio-video/webrtc-web/step-05/index.html
  audio-video/webrtc-web/step-05/index.js
  audio-video/webrtc-web/step-05/js/main.js
  audio-video/webrtc-web/step-05/package.json
  audio-video/webrtc-web/step-06/css/main.css
  audio-video/webrtc-web/step-06/index.html
  audio-video/webrtc-web/step-06/index.js
  audio-video/webrtc-web/step-06/js/main.js
  audio-video/webrtc-web/step-06/package.json
  audio-video/webrtc-web/work/css/main.css
  audio-video/webrtc-web/work/index.html
  audio-video/webrtc-web/work/index.js
  audio-video/webrtc-web/work/js/lib/adapter.js
  audio-video/webrtc-web/work/js/main.js
  audio-video/webrtc-web/work/js/main.old.js
  audio-video/webrtc-web/work/package.json
Due: none

msg: add type on messages
  android-kotlin/app/src/main/java/fr/chatalk/api/WebSocketProvider.kt
  services/msg_sender/msg_sender.go
  ui/Dockerfile
  ui/init.sh
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/Conversation.tsx
Due: test-ui, build-ui, deploy-ui, build-service-msg_sender, deploy-service-msg_sender

ui: upgrade dependencies
  ui/package-lock.json
  ui/package.json
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, build-ui, deploy-ui

ui: run linter + add video icon on conersations with 2 persons only
  ui/src/component/Settings.tsx
  ui/src/component/SignUp.tsx
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/ConvSettings.tsx
  ui/src/component/conversations/Conversation.tsx
  ui/src/component/conversations/New.tsx
  ui/src/store/actions.ts
  ui/src/store/reducers.ts
Due: test-ui, build-ui, deploy-ui

ui: generate offer
  audio-video/webrtc-test/turn-server.sh
  ui/package-lock.json
  ui/package.json
  ui/src/component/conversations/Conversation.tsx
Due: test-ui, build-ui, deploy-ui

Added scripts from the virtual-machine for the emergency OVA image
  ova-build/start
  ova-build/update
Due: none

UI: generate RSA key and usable to encrypt shared key
  services/docker-compose.yaml
  services/send-info/send-info.go
  ui/src/component/SignUp.tsx
Due: test-ui, build-ui, deploy-ui, build-service-send-info, deploy-service-send-info

UI: generate shared_key and encrypt it with members pubkey and send it to members
  services/conv_creation/conv_creation.go
  services/db-migrations/000004_create_conv_keys.up.sql
  ui/src/component/conversations/New.tsx
Due: test-ui, build-ui, deploy-ui, build-service-conv_creation, deploy-service-conv_creation, build-db-migrations, deploy-db-migrations

UI: TODO, comment in added file, send sharedkey when adding someone
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/Conversation.tsx
Due: test-ui, build-ui, deploy-ui

ui: send offer
  ui/src/component/conversations/Conversation.tsx
Due: test-ui, build-ui, deploy-ui

ui: start a call
  ui/src/App.tsx
  ui/src/component/Call.tsx
  ui/src/component/CallRequest.tsx
  ui/src/component/WebRTCProvider.tsx
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/Conversation.tsx
  ui/src/router/index.tsx
  ui/src/store/actions.ts
  ui/src/store/reducers.ts
  ui/src/store/state.ts
Due: test-ui, build-ui, deploy-ui

ui: call is working
  ui/src/component/Call.tsx
  ui/src/component/CallRequest.tsx
  ui/src/component/WebRTCProvider.tsx
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, build-ui, deploy-ui

ui: run linter
  ui/src/component/Call.tsx
  ui/src/component/CallRequest.tsx
  ui/src/component/WebRTCProvider.tsx
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/Conversation.tsx
Due: test-ui, build-ui, deploy-ui

ui: fix call interfaces
  ui/src/component/Call.tsx
  ui/src/component/CallRequest.tsx
Due: test-ui, build-ui, deploy-ui

android: filter on message type
  android-kotlin/.idea/vcs.xml
  android-kotlin/app/src/main/java/fr/chatalk/api/WebSocketProvider.kt
  android-kotlin/app/src/main/java/fr/chatalk/api/models.kt
  android-kotlin/app/src/main/java/fr/chatalk/ui/conversation/ConversationSingleViewModel.kt
Due: none

UI: fix update msg, conv setting, parse sharedkey in send_info; Services: updare conv_manag
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/Conversation.tsx
  ui/src/store/state.ts
Due: test-ui, build-ui, deploy-ui

Updated update script
  ova-build/update
Due: none

bench: upgrade dependency + add http scenario
  infra/bench/package.json
  infra/bench/scenarios/http.yaml
Due: none

k8s: add conv-sub service in global manifest
  infra/k8s/chatalk/kustomization.yaml
Due: none

readme: remove old urls
  README.md
Due: none
