Repository projet-m2-siris-unistra/chatalk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, deploy-ui, test-blog, deploy-blog

test-ui:
  stage: test
  tags:
  - docker
  - socket
  script:
  - cd ui/
  - npm ci
  - npm run test

deploy-ui:
  stage: deploy
  tags:
  - docker
  - socket
  script:
  - cd ui/
  - npm ci
  - npm run build
  - cd build/
  - cp index.html 200.html
  - cp index.html 404.html
  - echo "$DOMAIN_UI" > CNAME
  - npx surge .

test-blog:
  stage: test
  image: ludovicm67/node-libglu1
  tags:
  - docker
  - socket
  script:
  - cd blog/
  - npm install
  - npm run format-check

deploy-blog:
  stage: deploy
  image: ludovicm67/node-libglu1
  tags:
  - docker
  - socket
  script:
  - cd blog/
  - npm ci
  - npm run build
  - cd public/
  - cp index.html 200.html
  - echo "$DOMAIN_BLOG" > CNAME
  - npx surge .

k8s: remove useless label for nginx ingress controller
  infra/k8s/nginx-ingress-controller/README.md
  infra/k8s/nginx-ingress-controller/overlays/default/namespace.yaml
Due: none

k8s: start to work on monitoring
  infra/k8s/monitoring/kustomization.yaml
  infra/k8s/monitoring/monitoring.yaml
Due: none

k8s: experiment with kubefed
  infra/k8s/kubefed/kustomization.yaml
  infra/k8s/kubefed/stage-1/clusterrole.yaml
  infra/k8s/kubefed/stage-1/clusterrolebindings.yaml
  infra/k8s/kubefed/stage-1/crds.yaml
  infra/k8s/kubefed/stage-1/deployments.yaml
  infra/k8s/kubefed/stage-1/kustomization.yaml
  infra/k8s/kubefed/stage-1/namespace.yaml
  infra/k8s/kubefed/stage-1/rolebindings.yaml
  infra/k8s/kubefed/stage-1/roles.yaml
  infra/k8s/kubefed/stage-1/service.yaml
  infra/k8s/kubefed/stage-1/serviceaccounts.yaml
  infra/k8s/kubefed/stage-1/webhook.yaml
  infra/k8s/kubefed/stage-2/crds.yaml
  infra/k8s/kubefed/stage-2/federatedtypeconfig.yaml
  infra/k8s/kubefed/stage-2/kubefedconfig.yaml
  infra/k8s/kubefed/stage-2/kustomization.yaml
Due: none

k8s: work on postgres-operator
  infra/k8s/postgres-operator/overlays/unistra/configmap.yaml
  infra/k8s/postgres-operator/overlays/unistra/kustomization.yaml
Due: none

k8s: use stolon instead of postgres-operator
  infra/ansible/roles/common/tasks/main.yaml
  infra/ansible/site.yaml
  infra/k8s/README.md
  infra/k8s/chatalk/conv_creation/deployment.yaml
  infra/k8s/chatalk/conv_manag/deployment.yaml
  infra/k8s/chatalk/db-migrations/job.yaml
  infra/k8s/chatalk/entrypoint/deployment.yaml
  infra/k8s/chatalk/kustomization.yaml
  infra/k8s/chatalk/login/deployment.yaml
  infra/k8s/chatalk/msg_sender/deployment.yaml
  infra/k8s/chatalk/ping/deployment.yaml
  infra/k8s/chatalk/register/deployment.yaml
  infra/k8s/chatalk/send-info/deployment.yaml
  infra/k8s/stolon/init/job.yaml
  infra/k8s/stolon/init/kustomization.yaml
  infra/k8s/stolon/keeper/kustomization.yaml
  infra/k8s/stolon/keeper/statefulset.yaml
  infra/k8s/stolon/kustomization.yaml
  infra/k8s/stolon/namespace.yaml
  infra/k8s/stolon/proxy/deployment.yaml
  infra/k8s/stolon/proxy/kustomization.yaml
  infra/k8s/stolon/proxy/service.yaml
  infra/k8s/stolon/sentinel/deployment.yaml
  infra/k8s/stolon/sentinel/kustomization.yaml
  infra/k8s/stolon/stolon-rb.yaml
  infra/k8s/stolon/stolon-role.yaml
  infra/k8s/stolon/stolon-sa.yaml
Due: none

k8s: specific configuration for metallb for each cluster
  infra/k8s/README.md
  infra/k8s/metallb/overlays/cluster1/config-map.yaml
  infra/k8s/metallb/overlays/cluster1/kustomization.yaml
  infra/k8s/metallb/overlays/cluster2/config-map.yaml
  infra/k8s/metallb/overlays/cluster2/kustomization.yaml
Due: none

UI/Services: Conv_creation OK
  services/conv_creation/conv_creation.go
  ui/src/component/conversations/Conversation.tsx
  ui/src/component/conversations/New.tsx
  ui/src/store/reducers.ts
  ui/src/store/state.ts
Due: test-ui, deploy-ui

UI/Services: Receipt of Messages
  services/msg_sender/msg_sender.go
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/Conversation.tsx
  ui/src/store/actions.ts
  ui/src/store/reducers.ts
  ui/src/store/state.ts
Due: test-ui, deploy-ui

UI/Services: Messages Sending OK
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/Conversation.tsx
Due: test-ui, deploy-ui

UI/Services: Display of DB conv messages OK
  services/send-info/send-info.go
  ui/src/component/WebsocketProvider.tsx
  ui/src/store/actions.ts
  ui/src/store/reducers.ts
Due: test-ui, deploy-ui

infra: setup stolon
  infra/ansible/roles/dumas/files/chatalk.fr.conf
  infra/k8s/nginx-ingress-controller/overlays/default/kustomization.yaml
  infra/k8s/nginx-ingress-controller/overlays/default/service.yaml
  infra/k8s/stolon/base/init/job.yaml
  infra/k8s/stolon/base/init/kustomization.yaml
  infra/k8s/stolon/base/keeper/kustomization.yaml
  infra/k8s/stolon/base/keeper/service.yaml
  infra/k8s/stolon/base/keeper/statefulset.yaml
  infra/k8s/stolon/base/kustomization.yaml
  infra/k8s/stolon/base/namespace.yaml
  infra/k8s/stolon/base/proxy/deployment.yaml
  infra/k8s/stolon/base/proxy/kustomization.yaml
  infra/k8s/stolon/base/proxy/service.yaml
  infra/k8s/stolon/base/sentinel/deployment.yaml
  infra/k8s/stolon/base/sentinel/kustomization.yaml
  infra/k8s/stolon/base/stolon-rb.yaml
  infra/k8s/stolon/base/stolon-role.yaml
  infra/k8s/stolon/base/stolon-sa.yaml
  infra/k8s/stolon/overlays/cluster1/configmap.yaml
  infra/k8s/stolon/overlays/cluster1/kustomization.yaml
  infra/k8s/stolon/overlays/cluster2/configmap.yaml
  infra/k8s/stolon/overlays/cluster2/kustomization.yaml
Due: none

UI: display username on chat
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/Conversation.tsx
  ui/src/component/conversations/New.tsx
  ui/src/store/state.ts
Due: test-ui, deploy-ui

svc/utils: db wrapper
  services/utils/go.mod
  services/utils/go.sum
  services/utils/utils.go
Due: none

svc/register: clean register service
  .gitlab-ci.yml
  services/Dockerfile
  services/docker-compose.yaml
  services/register/Dockerfile
  services/register/go.mod
  services/register/go.sum
  services/register/register.go
  services/utils/go.mod
  services/utils/go.sum
  services/utils/utils.go
Due: test-ui, deploy-ui, test-blog, deploy-blog

svc/login: clean service
  .gitlab-ci.yml
  services/docker-compose.yaml
  services/login/Dockerfile
  services/login/go.mod
  services/login/go.sum
  services/login/login.go
  services/register/register.go
  services/utils/go.mod
  services/utils/go.sum
  services/utils/utils.go
Due: test-ui, deploy-ui, test-blog, deploy-blog

fix ci + new build method applied locally
  .gitlab-ci.yml
  services/Dockerfile
  services/conv_creation/Dockerfile
  services/conv_manag/Dockerfile
  services/docker-compose.yaml
  services/entrypoint/Dockerfile
  services/msg_sender/Dockerfile
  services/ping/Dockerfile
  services/send-info/Dockerfile
Due: test-ui, deploy-ui, test-blog, deploy-blog

svc/utils: do not crash if db write is no available
  services/utils/utils.go
Due: none

infra: deploy login+register with new db logic
  infra/doc/dns.py
  infra/k8s/chatalk/kustomization.yaml
  infra/k8s/chatalk/login/deployment.yaml
  infra/k8s/chatalk/register/deployment.yaml
Due: none

k8s: set imagePullPolicy to Always for the db-migrations job
  infra/k8s/chatalk/db-migrations/job.yaml
Due: none

Update Ui and services: update conversation list when new conversation created, sub to conv topic when new conversation
  services/conv_creation/conv_creation.go
  ui/src/component/WebsocketProvider.tsx
  ui/src/component/conversations/New.tsx
  ui/src/component/conversations/index.tsx
  ui/src/store/actions.ts
  ui/src/store/reducers.ts
Due: test-ui, deploy-ui

Services: fix, now members of conv receive the conv data
  services/login/login.go
Due: none

Services: fix, new conv added to others members without forcing display of the given conv
  services/conv_creation/conv_creation.go
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, deploy-ui

Services/UI: Users subscribe to conv when added to it and are logged, new conv-sub to check and create the subscription
  services/conv-sub/conv-sub.go
  services/conv-sub/go.mod
  services/conv-sub/go.sum
  services/docker-compose.yaml
  services/entrypoint/entrypoint.go
  ui/src/component/WebsocketProvider.tsx
Due: test-ui, deploy-ui

build and deploy conv-sub service
  .gitlab-ci.yml
  infra/k8s/chatalk/conv-sub/deployment.yaml
  infra/k8s/chatalk/conv-sub/kustomization.yaml
  services/conv-sub/.dockerignore
  services/conv-sub/.gitignore
  services/conv-sub/conv-sub.go
  services/docker-compose.yaml
Due: test-ui, deploy-ui, test-blog, deploy-blog

infra: prepare for CD
  infra/k8s/chatalk/conv-sub/kustomization.yaml
  infra/k8s/chatalk/conv_creation/kustomization.yaml
  infra/k8s/chatalk/conv_manag/kustomization.yaml
  infra/k8s/chatalk/db-migrations/kustomization.yaml
  infra/k8s/chatalk/entrypoint/kustomization.yaml
  infra/k8s/chatalk/fake-ui/kustomization.yaml
  infra/k8s/chatalk/login/kustomization.yaml
  infra/k8s/chatalk/msg_sender/kustomization.yaml
  infra/k8s/chatalk/ping/kustomization.yaml
  infra/k8s/chatalk/register/kustomization.yaml
  infra/k8s/chatalk/send-info/kustomization.yaml
  infra/k8s/chatalk/ui/kustomization.yaml
Due: none

adding prototype settings page and conv_gestion button
  ui/src/component/conversations/Conversation.tsx
  ui/src/component/conversations/Settings.tsx
  ui/src/component/conversations/index.tsx
  ui/src/router/index.tsx
Due: test-ui, deploy-ui

ci: continue preparation for CD
  .gitlab-ci.yml
  infra/k8s/README.md
Due: test-ui, deploy-ui, test-blog, deploy-blog

ci: fix start of cd
  .gitlab-ci.yml
Due: test-ui, deploy-ui, test-blog, deploy-blog

premiere version, sera modifiee soon
  ui/src/component/MyEncryption.tsx
Due: test-ui, deploy-ui

k8s: change stolon image
  infra/k8s/stolon/base/init/job.yaml
  infra/k8s/stolon/base/keeper/statefulset.yaml
  infra/k8s/stolon/base/proxy/deployment.yaml
  infra/k8s/stolon/base/sentinel/deployment.yaml
Due: none

ui: add status link
  ui/src/component/Homepage.tsx
  ui/src/component/Login.tsx
  ui/src/component/SignUp.tsx
  ui/src/component/conversations/Conversation.tsx
  ui/src/component/conversations/Settings.tsx
Due: test-ui, deploy-ui

changement de la methode de chiffrement (passage au aes256) probleme sur la generation iv / key a voir
  ui/src/component/MyEncryption.tsx
Due: test-ui, deploy-ui

ajout de la fonction de dechiffrement, warning genere : fonction Buffer unsafe
  ui/src/component/MyEncryption.tsx
Due: test-ui, deploy-ui

resolu le warning hahaha
  ui/src/component/MyEncryption.tsx
Due: test-ui, deploy-ui

UI/services: fix the display of the conversation index when creating a conversation
  services/conv_creation/conv_creation.go
Due: none

ci: show builded manifests
  .gitlab-ci.yml
  infra/k8s/chatalk/kustomization.yaml
  services/db-migrations/views.md
Due: test-ui, deploy-ui, test-blog, deploy-blog

ci: fix db-migration build
  .gitlab-ci.yml
Due: test-ui, deploy-ui, test-blog, deploy-blog

UI: user management page small change
  ui/src/component/conversations/Settings.tsx
Due: test-ui, deploy-ui

UI/services: preparation for conv management
  services/conv_manag/conv_manag.go
  services/user-manag/go.mod
  services/user-manag/go.sum
  services/user-manag/user-manag.go
  ui/src/component/conversations/ConvSettings.tsx
  ui/src/component/conversations/Conversation.tsx
Due: test-ui, deploy-ui

adding ConvSettings,Settings pages and little update on Credits,Privacy and Terms pages
  ui/src/component/Credits.tsx
  ui/src/component/Privacy.tsx
  ui/src/component/Terms.tsx
  ui/src/component/conversations/ConvSettings.tsx
  ui/src/component/conversations/Conversation.tsx
  ui/src/component/conversations/Settings.tsx
  ui/src/router/index.tsx
Due: test-ui, deploy-ui

Path conditions:
  test-ui: any of: .gitlab-ci.yml, ui/**/*
  deploy-ui: any of: .gitlab-ci.yml, ui/**/*
  test-blog: any of: .gitlab-ci.yml, blog/**/*
  deploy-blog: any of: .gitlab-ci.yml, blog/**/*
